AIRFLOW_UID=50000
AIRFLOW_GID=0

# Airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio12345
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio12345
S3_BUCKET=lakehouse

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_CUSTOMER_CDC=customer_cdc

# Hive Metastore DB
HMS_DB_USER=hive
HMS_DB_PASSWORD=hive
HMS_DB_NAME=metastore

# Airflow DB
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=analytics

